@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  @apply bg-gray-100;
}

.font-leckerli-one {
  font-family: 'Leckerli One', cursive;
}
.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.bg-gradient-red-to-orange {
  background-image: linear-gradient(
    to right,
    theme('colors.primary.500'),
    theme('colors.orange.500')
  );
}

.bg-gradient-gray {
  background-image: linear-gradient(
    to right,
    theme('colors.gray.800'),
    theme('colors.gray.700')
  );
}
